<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!-- This is the only way logback allows me to log debug to STDOUT and warn to FILE -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>

    <file>songs.log</file>
    <append>false</append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="jp.spotifyimporter.services.SongFinder" level="debug">
    <appender-ref ref="FILE" />
  </logger>

  <logger name="jp.spotifyimporter" level="debug" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>